@{
    ViewBag.Title = "Home Page";

    var dict = new Dictionary<int, string>();
    dict.Add(0, "What to expect");
    dict.Add(1, "Bad environment, bad food, unhelpful staff");
    dict.Add(2, "Sub-par setting, forgettable food, unfriendly staff");
    dict.Add(3, "Mediocre setting, mediocre food, okay staff");
    dict.Add(4, "Pleasent environment, memorible food, helpful staff");
    dict.Add(5, "Ambiance, food, staff - Excellent");
}

<div class="jumbotron text-center">
    <h1>Restaurant Rater</h1>
    <h2 class="lead">Web application for rating local resturants</h2>
    <img src="~/Assets/restaurantrating.png" class="text-center" />
    <div class="row">
        <div class="col">
            <br />
            @Html.ActionLink("Rate Restaurants", "../Restaurant/Index")
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rate a Restaurant</h2>
        <p>Don't see a restaurant on our list? Add one yourself!</p>
        <p><a class="btn btn-primary" href="../Restaurant/Create">Create a New Rating</a></p>
    </div>
    <div class="col-md-4">
        <h2>See Rating</h2>
        <p>See what restaurants are already on our list!</p>
        <p><a class="btn btn-primary" href="../Restaurant/Index">Check Ratings</a></p>
    </div>
    <div class="col-md-4">
        <h2>Star Rating Meaning</h2>
        <p>What do the ratings mean?</p>

        <div class="carousel slide text-center" data-ride="carousel" style="max-height: 100px;">
            <div class="carousel-inner">
                <div class="item active">
                    <h3>Rating</h3>
                    <h5>@Html.DisplayFor(modelItem => dict[0])</h5>
                </div>
                <div class="item">
                    <h3>1</h3>
                    <h5>@Html.DisplayFor(modelItem => dict[1])</h5>
                </div>
                <div class="item">
                    <h3>2</h3>
                    <h5>@Html.DisplayFor(modelItem => dict[2])</h5>
                </div>
                <div class="item">
                    <h3>3</h3>
                    <h5>@Html.DisplayFor(modelItem => dict[3])</h5>
                </div>
                <div class="item">
                    <h3>4</h3>
                    <h5>@Html.DisplayFor(modelItem => dict[4])</h5>
                </div>
                <div class="item">
                    <h3>5</h3>
                    <h5>@Html.DisplayFor(modelItem => dict[5])</h5>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>